body{background-image: url(indemathh\ \(2\).jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.all{
    display: block;
    justify-content: center;
    align-items: center;
}
button{
    background: linear-gradient(#928dab);
    border-radius: 30% 10%;
}